
.vs/pitching_stats_web/config/applicationhost.config
.vs/pitching_stats_web/FileContentIndex/c23931c8-6804-42eb-89ba-a777d762987a.vsidx
.vs/slnx.sqlite
.vs/pitching_stats_web/FileContentIndex/e141a874-be05-4a8c-a1e1-1fea8c7fe208.vsidx
.vs/pitching_stats_web/FileContentIndex/f53e9bf9-4526-45dc-adc7-578408576a9d.vsidx
.vs/pitching_stats_web/FileContentIndex/d45e5c57-d3ff-400e-a8bc-f7e9ea46f44a.vsidx
